/*
    Example sass file
    Use:
        * url(getExtensionAssetsPath('img/image.jpg')); to reference images and fonts in your assets folder
        * url(getThemeAssetsPath('img/theme-image.jpg')); to reference images and fonts in the active theme available
*/ 
.minicartimageext-layout {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.minicartimageext-container {
    width: 50%;
    margin: 0 auto $sc-margin-lv4 auto;
    border: 1px solid $sc-color-theme-border-light;
    box-shadow: 0 3px 0 $sc-color-theme-background;
    -moz-box-shadow: 0 3px 0 $sc-color-theme-background;
    -webkit-box-shadow: 0 3px 0 $sc-color-theme-background;
}

.minicartimageext-button-container {
    @extend .info-card-button-container;
}

.minicartimageext-list-card {
    @extend .info-card;
    line-height: 40px;
}

.minicartimageext-form {    
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: auto;

    input {
        width: 88%;
    }
}

.minicartimageext-clear {
    clear: both;
}

// minicartimageext fields

.minicartimageext-form-title {
    @extend .summary-title;
}

.minicartimageext-todo-title {
    display: inline-block;
}

.minicartimageext-completed {
    text-decoration: line-through;
}

// %= sass_class_name  buttons

.minicartimageext-button-add {
    @extend .button-primary;
    @extend .button-medium;
}

.minicartimageext-button-edit {
    @extend .button-secondary;
    @extend .button-small;

    float: right;
    margin-right: $sc-margin-lv3;
    margin-top: $sc-margin-lv1;
}

.minicartimageext-button-delete {
    @extend .icon-button;
    @extend .icon-button-controls;
    float: right;
    border-radius: 1.5em;
}

.minicartimageext-delete-icon {
    @extend .fa;
    @extend %fa-remove;
    color: none;
    margin-left: -1px;
    font-size: $sc-font-size-s;
}

.minicartimageext-submit-button {
    @extend .button-primary;
    @extend .button-medium;
}